body {
  background-color: rgb(48, 48, 48);
  font-family: "Source Code Pro";
  margin: 60px;
}

.navigation {
    display: grid;
    grid-template-columns: auto auto;
}

.navigation ul {
  list-style-type: none;
  overflow: hidden;
  background-color: rgb(48, 48, 48);
  float: right;
  font-weight: bolder;
}

.navigation #logo {
    width: 350px;
    height: 65px;
    float: left;
}

.navigation li {
  float: right;
}

.navigation a {
  display: block;
  padding: 20px;
  color: white;
  background-color: rgb(48, 48, 48);
  text-align: center;
  font-size: 32px;
  text-decoration: none;
}

.navigation a:hover {
  color: #CA78E3;
}

.main {
    display: inline-block;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr 2fr 1fr 2fr 1fr;
    grid-template-rows: 0.2fr 2fr 0.2fr 1fr 2fr;
}

.intro {
    border: solid 0.1rem rgb(71, 71, 71);
    border-radius: 25px;
    color: white;
    background-color: rgb(71, 71, 71);;
    text-align: center;
    grid-area: 2 / 2 / 2 / 7;
    padding: 20px;
}

.intro h1 {
    font-size: 2rem;
}

.recent-projects {
    grid-area: 4 / 2 / 4 / 7;
    color: white;
    text-align: center;
}

.project-1 {
    grid-area: 5 / 2 / 5 / 2;
    background-color: #CA78E3;
    text-align: center;
}

.project-2 {
    grid-area: 5 / 4 / 5 / 4;
    background-color: #FFC600;
    text-align: center;
}

.project-3 {
    grid-area: 5 / 6 / 5 / 6;
    background-color: #536CF1;
    text-align: center;
}

.external {
  float: right;
}

#linkedin {
  width: 20px;
}

#github {
  width: 40px;
}
