body {
    background-color: black;
    font-family: Arial;
    font-weight: lighter;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
}

.navigation ul {
    list-style-type: none;
    overflow: hidden;
    background-color: rgb(56, 41, 218);
    margin: auto;
  }

.navigation li {
    float: left;
}

.navigation li #linkedin {
    float: right;
    width: 40px;
}

.navigation a {
    display: block;
    padding: 20px;
    color: white;
    background-color: rgb(56, 41, 218);
    text-align: center;
    font-size: 32px;
    text-decoration: none;
}

.navigation a:hover {
    color: rgba(245, 245, 245, 0.851);
}

.external {
    float: right;
}

#linkedin{
    width: 20px;
}

#github {
    width: 40px;
}



.banner {
    position: relative;
}

.banner img {
    display: block;
    width: 90%;
    height: auto;
    margin-left: auto;
    margin-right: auto;

}

.overlay-text h1 {
    position: absolute;
    top: 20%; 
    left: 25%; 
    transform: translate(-50%, -50%); 
    background-color: purple;
    opacity: 0.9;
    color: #fff; 
    padding: 5px 20px; 
    font-size: 7vw; 
    text-align: center;
}

.overlay-text h2 {
    position: absolute;
    top: 54%; 
    left: 25%; 
    transform: translate(-50%, -50%); 
    background-color: rgb(56, 41, 218);
    opacity: 0.9;
    color: #fff; 
    padding: 5px 20px; 
    font-size: 1.55vw; 
    text-align: center;
}

