body {
  background-color: rgb(48, 48, 48);
  font-family: "Source Code Pro";
  margin: 20px 100px;
  color: white;
}

.navigation {
    display: grid;
    grid-template-columns: auto auto;
}

.navigation ul {
  list-style-type: none;
  overflow: hidden;
  background-color: rgb(48, 48, 48);
  float: right;
  font-weight: bolder;
}

.navigation #logo {
    width: 350px;
    height: 65px;
    float: left;
}

.navigation li {
  float: right;
}

.navigation a {
  display: block;
  padding: 20px;
  color: white;
  background-color: rgb(48, 48, 48);
  text-align: center;
  font-size: 32px;
  text-decoration: none;
}

.navigation a:hover {
  color: #CA78E3;
}

.main {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr 2fr 1fr 2fr 1fr;
  grid-template-rows: 0.2fr 2fr 0.2fr 0.7fr 1fr 0.2fr 1fr 0.2fr 1fr 0.1fr 0.1fr 0.2fr;
}

.intro {
    border: solid 0.1rem rgb(71, 71, 71);
    color: white;
    background-color: rgb(71, 71, 71);;
    text-align: center;
    grid-area: 2 / 2 / 2 / 7;
    padding: 20px;
    box-shadow: 5px 5px #536CF1, 10px 10px #FFC600, 15px 15px #CA78E3;
}

.intro h1 {
    font-size: 2rem;
}

.recent-projects {
    grid-area: 4 / 2 / 4 / 7;
    color: white;
    text-align: center;
    font-size: 1.2rem;
    max-height: 30px;

}

.project-1 {
    grid-area: 5 / 2 / 5 / 7;
    background-color: #CA78E3;
    text-align: center;
    min-width: 250px;
}

.project-2 {
    grid-area: 7 / 2 / 7 / 7;
    background-color: #FFC600;
    text-align: center;
    min-width: 250px;
}

.project-3 {
    grid-area: 9 / 2 / 9 / 7;
    background-color: #536CF1;
    text-align: center;
    min-width: 250px;
}

.see-all-projects {
  grid-area: 11 / 2 / 11 / 7;
  text-align: center;
}

.external {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;

}

.external ul {
  list-style-type: none;
  overflow: hidden;
  grid-column: 2;
  background-color: rgb(48, 48, 48);
  float: right;
  font-weight: bolder;
}

.external li {
  float: right;
}

.external a {
  display: block;
  padding: 20px;
  background-color: rgb(48, 48, 48);
  font-size: 32px;
  text-decoration: none;
}

.external p {
  display: block;
  padding: 20px;
}

#linkedin {
  width: 50px;
}

#github {
  width: 50px;
}
